services:
  slurm-headnode:
    image: slurm-headnode:latest
    container_name: slurm-headnode0
    hostname: slurm-headnode
    privileged: true
    ports:
      - "2222:22"
    volumes:
      - munge-key:/etc/munge
      - ./slurm.conf:/opt/slurm/etc/slurm.conf:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    networks:
      - slurm-net

  slurm-worker1:
    image: slurm-worker:latest
    container_name: slurm-worker1
    hostname: slurm-worker1
    privileged: true
    ports:
      - "2223:22"
    volumes:
      - munge-key:/etc/munge:ro
      - ./slurm.conf:/opt/slurm/etc/slurm.conf:ro
      - ./cgroup.conf:/opt/slurm/etc/cgroup.conf:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    depends_on:
      - slurm-headnode
    networks:
      - slurm-net

#   slurm-worker2:
#     image: slurm-worker:latest
#     container_name: slurm-worker2
#     hostname: slurm-worker2
#     privileged: true
#     ports:
#       - "2224:22"
#     volumes:
#       - munge-key:/etc/munge:ro
#       - ./slurm.conf:/etc/slurm.conf:ro
#       - /sys/fs/cgroup:/sys/fs/cgroup:ro
#     depends_on:
#       - slurm-headnode
#     networks:
#       - slurm-net

volumes:
  munge-key:

networks:
  slurm-net:
    driver: bridge
